
<div class="text-field form-group">
  <%= form.label :username %>
  <%= form.text_field :username, class: "form-control", placeholder: "Username" %>
</div>

<div class="text-field form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
</div>