<div class="container text-light bg-dark">
	<h1><%= @user.username %>'s profile</h1>
</div>

<div class="container text-light bg-dark">
	<h2>Buy orders</h2>
</div>

<div class="container text-light bg-dark">
	<h2>Sell orders</h2>
</div>